.card {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
}

.card_img {
    width: 100%;
    margin-bottom: 5px;
}

.prod_content {
    flex-direction: column;
}

.com_name {
    margin-top: 3px;
    margin-bottom: 3px;
    color: lightslategrey;
    font-size: 12px;
}

.prod_name {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    color: #1C1C1C;
    letter-spacing: -0.06em;
}

.price_content {
    margin-top: 3px;
    margin-bottom: 3px;
}

.discount {
    color: deepskyblue;
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.rate_content {
    margin-top: 3px;
    margin-bottom: 3px;
}

.rate {
    color: #1C1C1C;
    font-size: 12px;
    font-weight: bold;
}

.review {
    color: lightslategrey;
    font-size: 12px;
    font-weight: bold;
}