{% extends 'base.html' %}

{% block content %}
<!-- 사용자에게 정보를 입력받을 때 -->
<!-- form 태그 사용 -->
<!-- action : 어떤 url을 요청할지 -->
<div class="container my-5 text-center">
  <h1>Todo List</h1>
  <form action="{% url 'todo:create' %}" class="mt-3">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">내용</span>
      <input type="text" class="form-control" name="content" maxlength="10" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <select class="form-select mb-3" name="priority" aria-label="Default select example">
      <option selected>우선순위</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">마감 기한</span>
      <input type="date" class="form-control" name="deadline" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-dark">할일 추가</button>
  </form>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">우선순위</th>
        <th scope="col">할 일</th>
        <th scope="col">생성날짜</th>
        <th scope="col">마감기한</th>
        <th scope="col">진행 상태</th>
        <th scope="col">상태 변경</th>
        <th scope="col">삭제</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      {% if todo.completed == False %}
      <tr>
        <th scope="row">{{ todo.priority }}</th>
        <td>{{ todo.content }}</td>
        <td>{{ todo.created_at|date:"Y년 m월 d일" }}</td>
        <td>{{ todo.deadline|date:"Y년 m월 d일" }}</td>
        <td>{{ todo.completed }}</td>
        <td><button type="button" class="btn btn-primary"
            onclick="location.href='{% url 'todo:modify' todo.pk %}' ">변경</button></td>
        </td>
        <td><button type="button" class="btn btn-danger"
            onclick="location.href='{% url 'todo:delete' todo.pk %}' ">삭제</button></td>
      </tr>
      {% endif %}
      {% if todo.completed == True %}
      <tr>
        <th scope="row" class="text-decoration-line-through">{{ todo.priority }}</th>
        <td class="text-decoration-line-through">{{ todo.content }}</td>
        <td class="text-decoration-line-through">{{ todo.created_at|date:"Y년 m월 d일" }}</td>
        <td class="text-decoration-line-through">{{ todo.deadline|date:"Y년 m월 d일" }}</td>
        <td class="text-decoration-line-through">{{ todo.completed }}</td>
        <td><button type="button" class="btn btn-primary"
            onclick="location.href='{% url 'todo:modify' todo.pk %}' ">변경</button></td>
        </td>
        <td><button type="button" class="btn btn-danger"
            onclick="location.href='{% url 'todo:delete' todo.pk %}' ">삭제</button></td>
      </tr>
      {% endif %}
      {% endfor %}

    </tbody>
  </table>

</div>
{% endblock content %}