{% extends 'base.html' %}

{% block content %}
<div class="container text-center my-5" style="width: 60%;">
  <h1>글 쓰기</h1>
  <form action="{% url 'posts:create' %}">
    <div class="form-floating mb-3">
      <input type="text" name="title" class="form-control" value="{{ post.title }}">
      <label for="floatingInput">제목</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" name="content" style="height: 100px">{{ post.content }}</textarea>
      <label for="floatingTextarea2">내용</label>
    </div>
    <div class="my-3" style="float: right;">
      <button type="button" class="btn btn-outline-dark mx-3"
        onclick="location.href='{% url 'posts:index' %}' ">목록으로</button>
      <button type="submit" class="btn btn-dark">글 쓰기</button>
    </div>
  </form>
</div>
{% endblock content %}