<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lotto</title>
</head>
<body>
  <h1>이번주 로또 당첨 번호 : 
    <span>3 11 15 29 35 44 + 10</span>
  </h1>
  
  <h2>
    {% for result in lotto_result_list %}
      {% for num in result.lotto %}
        {{ num }}
        {% endfor %}
      
      {% if result.result == '꽝' %}
        <span style="color: red;">
          {{ result.result }}
        </span>
      {% endif %}
      {% if result.result == '5등' or result.result == '4등' or result.result == '3등' or result.result == '2등' or result.result == '1등'%}
        <span style="color: blue;">
          {{ result.result }}
        </span>
      {% endif %}
      <br>
    {% endfor %}
  </h2>
  
</body>
</html>