{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
  <h1 class="text-center my-5">방명록</h1>
  <div class="d-flex">
    <div class="scroll type container border rounded-5 my-5 p-3" style="width: 50%; height: 20rem;">
      <div>
        <ul class="list-group list-group-flush">
          {% for content in guestbook %}
          <li class="list-group-item">
            {{ content.content }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container" style="width: 50%;">
    <form action="/articles/create/">
      <div class="form-floating d-flex">
        <textarea class="form-control" name="content" style="width: 80%;"></textarea>
        <label for="floatingTextarea">방명록을 써주세요!</label>
        <button type="submit" class="btn btn-outline-dark ms-2" style="width: 20%;">남기기</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}