body {
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
}